<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.tuliu.land.transfer.tuliutransfercloudparent.mapper.biz.TestLcn1Mapper" >
  <resultMap id="BaseResultMap" type="org.tuliu.land.transfer.tuliutransfercloudparent.domain.testLcn.TestLcn1" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="a1" property="a1" jdbcType="VARCHAR" />
    <result column="b1" property="b1" jdbcType="VARCHAR" />
    <result column="c1" property="c1" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, a1, b1, c1
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.tuliu.land.transfer.tuliutransfercloudparent.domain.testLcn.TestLcn1Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from test_lcn_1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from test_lcn_1
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from test_lcn_1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.tuliu.land.transfer.tuliutransfercloudparent.domain.testLcn.TestLcn1Criteria" >
    delete from test_lcn_1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.tuliu.land.transfer.tuliutransfercloudparent.domain.testLcn.TestLcn1" >
    insert into test_lcn_1 (id, a1, b1, c1
      )
    values (#{id,jdbcType=INTEGER}, #{a1,jdbcType=VARCHAR}, #{b1,jdbcType=VARCHAR}, #{c1,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.tuliu.land.transfer.tuliutransfercloudparent.domain.testLcn.TestLcn1" >
    insert into test_lcn_1
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="a1 != null" >
        a1,
      </if>
      <if test="b1 != null" >
        b1,
      </if>
      <if test="c1 != null" >
        c1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="a1 != null" >
        #{a1,jdbcType=VARCHAR},
      </if>
      <if test="b1 != null" >
        #{b1,jdbcType=VARCHAR},
      </if>
      <if test="c1 != null" >
        #{c1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.tuliu.land.transfer.tuliutransfercloudparent.domain.testLcn.TestLcn1Criteria" resultType="java.lang.Integer" >
    select count(*) from test_lcn_1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update test_lcn_1
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.a1 != null" >
        a1 = #{record.a1,jdbcType=VARCHAR},
      </if>
      <if test="record.b1 != null" >
        b1 = #{record.b1,jdbcType=VARCHAR},
      </if>
      <if test="record.c1 != null" >
        c1 = #{record.c1,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update test_lcn_1
    set id = #{record.id,jdbcType=INTEGER},
      a1 = #{record.a1,jdbcType=VARCHAR},
      b1 = #{record.b1,jdbcType=VARCHAR},
      c1 = #{record.c1,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.tuliu.land.transfer.tuliutransfercloudparent.domain.testLcn.TestLcn1" >
    update test_lcn_1
    <set >
      <if test="a1 != null" >
        a1 = #{a1,jdbcType=VARCHAR},
      </if>
      <if test="b1 != null" >
        b1 = #{b1,jdbcType=VARCHAR},
      </if>
      <if test="c1 != null" >
        c1 = #{c1,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.tuliu.land.transfer.tuliutransfercloudparent.domain.testLcn.TestLcn1" >
    update test_lcn_1
    set a1 = #{a1,jdbcType=VARCHAR},
      b1 = #{b1,jdbcType=VARCHAR},
      c1 = #{c1,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>